* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  background-color: black;
}

.header {
  width: 1000px;
  height: 50px;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.add {
  all: unset;
  height: 25px;
  width: 100px;
  font-size: 17px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.background {
  width: 1000px;
  height: 385px;
  background-image: url("./library.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  /* background-color: aqua; */
}

.bookcase {
  padding: 25px;
  display: flex;
  gap: 20px;
  width: 1000px;
  height: 600px;
  background-color: lightgrey;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  /* row-gap: 30px; */
}

.card {
  display: grid;
  grid-template-rows: 20px 25px 25px 25px 25px;
  grid-template-columns: 105px 20px;
  border: 1px solid black;
  height: 130px;
  width: 135px;
  padding: 5px;
  background-color: lightcyan;
}

.card .title {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.card .author {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.card .pages {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.card .read {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

.card .del-btn {
  grid-column: 2 / 2;
}

.card svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card button {
  all: unset;
  background-color: azure;
  border-radius: 10px;
  width: 60px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 250px;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 20px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 6px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 12px;
  cursor: pointer;
}

.modal-container .submit-btn {
  padding: 5px 15px;
  font-weight: bold;
  background: lightcoral;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.modal-container.show-modal {
  display: block;
}