* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}


.bookcase {
  display: flex;
  height: 300px;
}

.card {
  border: 1px solid black;
  height: 100px;
  width: 70px;
}